{% extends 'base.html' %}
{% load static %}

{% block title %} Create Multiple Tables {% endblock %}

{% block content %}
  <div class="card p-2">
    <div class="card-body p-4 m-4">
      <h1>Create </h1>
      <form method="post">
        {% csrf_token %}
        {{ formset.management_form }}
        <table>
          <thead>
            <tr>
              <th><h2>Branch</h2></th>
              <th><h2>Terminal Number</h2></th>
            </tr>
          </thead>
          <tbody>
            {% for form in formset %}
              <tr>
                <td>{{ form.branch }}</td>
                <td>{{ form.terminal_no }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
{% endblock %}